<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            GCIR-2022
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    {% block custom %}
        
    {% endblock %}

    {% block bodystyle %}
    
    {% endblock %}
    

</head>
<body class="body">
   {% block body %}
    
   {% endblock %}

   
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
</body>
</html>